/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */
header {
    background-color: #D9D7F1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #541690;
}
/* intro */
#intro {
    text-align: center;
    padding: 20px;
}

.start-btn {
    background-color: #541690;
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 25px;
}

.start-btn:hover {
    background-color: #A460ED;
}

.hide {
    display: none;
}

/* questions */

#container {
    display: grid;
    padding: 25px;
    margin: 5px;
    grid-template-columns: .5fr;
    justify-content: center;
    align-items: center;
  }

.btn-grid {
    display: grid;
    gap: 5px;
    width: 50%;

}

.btn {
    background-color: #541690;
    color: white;
    border-radius: 25px;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}

.btn:hover {
    background-color: #A460ED;
}

/* hall of fame */
